<div class="container validationContainer">
    <%  for (var i = 0; i < validationMessage.length; i++) {%>
      <div class="fullwidth">
        <span class="ValidationMessage">*<%= validationMessage[i] %></span>
      </div>
    <% } %>
</div>
